{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
	<form class="form-horizontal m-t-20" method="POST" action="">
      					{% csrf_token %}
      					<div class="form-group">
      						<div class="col-xs-12">
      							<input class="form-control input-lg required" id="id_identification" type="text" name="identification" placeholder="Email o nombre de usuario">
      						</div>
      					</div>
      					<div class="form-group">
      						<div class="col-xs-12">
      							<input class="form-control input-lg required" id="id_password" name="password" type="password" placeholder="Contraseña">
      						</div>
      					</div>
      					<div class="form-group">
      						<div class="col-xs-12">
      							<div class="checkbox checkbox-primary">
      							<input id="id_remember_me" name="remember_me" type="checkbox" />
      							<label for="id_remember_me">Recordarme</label>
      						</div>
      					</div>

      				</div>
      				<div class="form-group text-center m-t-40">
      					<div class="col-xs-12">
      						<button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Log In</button>
      					</div>
      				</div>
      				<div class="form-group m-t-30">
      					<div class="col-sm-7">
      						<a href="recoverpw.html">
      							<i class="fa fa-lock m-r-5"></i> ¿Olvidaste tu contraseña?
      						</a>
      					</div>
      					<div class="col-sm-5 text-right">
      						<a href="{% url "signup" %}">Registarte</a>
      					</div>
      				</div>
      			</form>
{% endblock %}
