{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Registrarme</button>
	</form>
{% endblock %}