{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
<h1>{{user_profile}}</h1>
	<form action="" method="post">{% csrf_token %}
                                        {{ wizard.management_form }}
                                        {% if wizard.form.forms %}
                                            {{ wizard.form.management_form }}
                                            <ul class="step-form">
                                            {% for form in wizard.form.forms %}
                                                <li>
                                                    <div class="form-inline-custom" role="form">
                                                    {% for field in form %}
                                                        <div class="form-group">
                                                            {{field.label_tag}}
                                                            {{field}}
                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                </li>
                                                <hr></hr>
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ wizard.form }}
                                        {% endif %}
                                        {% if wizard.steps.prev %}
<div class="sf-steps-navigation sf-align-right">
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="sf-button">Paso Anterior</button>
{% endif %}
<input type="submit" class="sf-button" value="Siguiente"/>
</div>
</form>
{% endblock %}