{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Psicologosya</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/colors/green.css" %}" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->
<header>
<div class="container">
	<div class="twelve columns">
	
		<!-- Logo -->
		<!--<div id="logo">
			<h1><a href="index.html"><img src="images/logo.png" alt="PsicologosYa" /></a></h1>
		</div>-->

		<!-- Menu -->
		<nav id="navigation" class="menu">
			<ul id="responsive">
				<li><a href="#">Buzon de Mensajes</a></li>
				<li><a href="#">Preguntas Directas</a></li>
				<li><a href="#" id="current">Foro Publico de Preguntas</a></li>	
				
				<!--<li><a href="index.html" id="current">Home</a>
					<ul>
						<li><a href="index.html">Home #1</a></li>
						<li><a href="index-2.html">Home #2</a></li>
						<li><a href="index-3.html">Home #3</a></li>
						<li><a href="index-4.html">Home #4</a></li>
					</ul>
				</li>

				<li><a href="#">Pages</a>
					<ul>
						<li><a href="job-page.html">Job Page</a></li>
						<li><a href="job-page-alt.html">Job Page Alternative</a></li>
						<li><a href="resume-page.html">Resume Page</a></li>
						<li><a href="shortcodes.html">Shortcodes</a></li>
						<li><a href="pricing-tables.html">Pricing Tables</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</li>

				<li><a href="#">For Candidates</a>
					<ul>
						<li><a href="browse-jobs.html">Browse Jobs</a></li>
						<li><a href="browse-categories.html">Browse Categories</a></li>
						<li><a href="add-resume.html">Add Resume</a></li>
						<li><a href="manage-resumes.html">Manage Resumes</a></li>
						<li><a href="job-alerts.html">Job Alerts</a></li>
					</ul>
				</li>

				<li><a href="#">For Employers</a>
					<ul>
						<li><a href="add-job.html">Add Job</a></li>
						<li><a href="manage-jobs.html">Manage Jobs</a></li>
						<li><a href="manage-applications.html">Manage Applications</a></li>
						<li><a href="browse-resumes.html">Browse Resumes</a></li>
					</ul>
				</li>

				<li><a href="blog.html">Blog</a></li>-->
			</ul>
		</nav>
	</div>
	<div class="four columns">
		<nav class="menu">
			<ul>
				<li><div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" style="height:40px" alt=""></div></li>
				<li><a href="#">Nombre de Usuario</a></li>
			</ul>

		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>
<!-- Banner
================================================== -->
<div id="banner" class="suscriptionBlock" style="background: url(images/banner-home-01.jpg)">
	<div class="container">
	</div>
</div>

<div class="container">
	<div class="eight columns">
		<span><a href="#">Foro público de preguntas / Bucaramanga</a></span>
	</div>
</div>
<div class="container preg-tit">
	<div class="ten columns">
		<h3>Buzón de mensajes directos</h3>
	</div>
</div>
<div class="container">
	<div class="twelve columns buzon">
		<div class="container">
			<div class="four columns">
				<ul class="tabs-nav tabBuzon">
					<li class="active"><a href="#" id="recibidos">Recibidos <i class="fa fa-angle-right"></i></a></li>
					<li class=""><a href="#" id="enviados">Enviados</a></li>
				</ul>
			</div>
			<div class="twelve columns buzon-right">
				<div class="recibidos container ">
					<div class="elementList">
						<div class="seven columns"><a href="#">Mensaje</a></div>
						<div class="two columns">Fecha</div>
					</div>
					<div class=" elementList">
						<div class="seven columns"><a href="#">Mensaje</a></div>
						<div class="two columns">Fecha</div>
					</div>
					<div class=" elementList">
						<div class="seven columns"><a href="#">Mensaje</a></div>
						<div class="two columns">Fecha</div>
					</div>
				</div>
			
				
				<div class="enviados container" style="display:none">
					<div class="elementList">
						<div class="seven columns"><a href="#">Mensaje E</a></div>
						<div class="two columns">Fecha</div>
					</div>
					<div class="elementList">
						<div class="seven columns"><a href="#">Mensaje E</a></div>
						<div class="two columns">Fecha</div>
					</div>
					<div class="elementList">
						<div class="seven columns"><a href="#">Mensaje E</a></div>
						<div class="two columns">Fecha</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="height30"></div>

<!-- Footer
================================================== -->
<!--<div class="margin-top-15"></div>-->

<div id="footer">
	<!-- Main -->
	<div class="container">
		
		
	</div>
	
	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<!--<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>-->
				<div class="copyrights">©  Copyright 2016 by <a href="#">PsicologosYa.com</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>



<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script src="{% static "js/jquery.superfish.js" %}"></script>
<script src="{% static "js/jquery.themepunch.tools.min.js" %}"></script>
<script src="{% static "js/jquery.themepunch.revolution.min.js" %}"></script>
<script src="{% static "js/jquery.themepunch.showbizpro.min.js" %}"></script>
<script src="{% static "js/jquery.flexslider-min.js" %}"></script>
<script src="{% static "js/chosen.jquery.min.js" %}"></script>
<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "js/waypoints.min.js" %}"></script>
<script src="{% static "js/jquery.counterup.min.js" %}"></script>
<script src="{% static "js/jquery.jpanelmenu.js" %}"></script>
<script src="{% static "js/stacktable.js" %}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#enviados').click(function(e){
			e.preventDefault();
			$('.enviados').fadeIn();
			$('.recibidos').fadeOut();
		});

		$('#recibidos').click(function(e){
			e.preventDefault();
			$('.enviados').fadeOut();
			$('.recibidos').fadeIn();
		});
	});

</script>
</body>
</html>
