{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="ten columns">
			<span>We found <span id="total_psyco"></span> jobs matching:</span>
			<h2>Web, Software & IT</h2>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="fifteen columns">
	<div class="padding-right">
		
		<form action="" method="get">
    {% csrf_token %}
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    </div>
    </div>

    <!-- Widgets -->
	<div class="four columns">
	<div class="padding-right">
		<!-- Sort by -->
		<div class="widget">
			<h4>Hasta cuanto estás dispuesto a pagar:</h4>
			<fieldset id="rating_criteria">
				<span id="rating_range_label" class="slider-label">0 - $1.000.000</span>
				<div id="rating_slider" class="slider">
				</div>
				<input type="hidden" id="rating_filter" value="0-1000000">
			</fieldset>
		</div>

		<!-- Payment -->
		<div class="widget">
			<h4>Método de Pago:</h4>
			<fieldset id="payment">
				<ul class="checkboxes">
					<li>
						<input id="check-1" type="checkbox" name="check" id="all_pago" value="all">
						<label for="check-1">Todos</label>
					</li>
					<li>
						<input id="check-2" type="checkbox" name="check" value="efectivo">
						<label for="check-2">Efectivo</label>
					</li>
					<li>
						<input id="check-3" type="checkbox" name="check" value="tarjeta_credito">
						<label for="check-3">Tarjeta de Credito</label>
					</li>
					<li>
						<input id="check-4" type="checkbox" name="check" value="consignacion">
						<label for="check-4">Consignacion bancaria</label>
					</li>
				</ul>
			</fieldset>
		</div>

		<!-- Payment -->
		<div class="widget">
			<h4>Tipo de Terapia:</h4>
			<fieldset id="therapy">
				<ul class="checkboxes">
					<li>
						<input id="checkt-1" type="checkbox" name="therapy" id="all_therapy" value="all">
						<label for="checkt-1">Todos</label>
					</li>
					<li>
						<input id="checkt-2" type="checkbox" name="therapy" value="Familiar">
						<label for="checkt-2">Familiar</label>
					</li>
					<li>
						<input id="checkt-3" type="checkbox" name="therapy" value="Pareja">
						<label for="checkt-3">Pareja</label>
					</li>
					<li>
						<input id="checkt-4" type="checkbox" name="therapy" value="Individuales">
						<label for="checkt-4">Individuales</label>
					</li>
					<li>
						<input id="checkt-5" type="checkbox" name="therapy" value="Grupales">
						<label for="checkt-5">Grupales</label>
					</li>
				</ul>
			</fieldset>
		</div>

	</div>
	</div>
	<!-- Widgets / End -->
	<div class="twelve columns">
		<ul class="job-list full" id="psyco">

			<!--<li><a href="job-page.html">
				<img src="images/job-list-logo-02.png" alt="">
				<div class="job-list-content">
					<h4>Core PHP Developer for Site Maintenance <span class="part-time">Part-Time</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> Cubico</span>
						<span><i class="fa fa-map-marker"></i> London</span>
						<span><i class="fa fa-money"></i> $50 / hour</span>
					</div>
					<p>Vivamus eleifend metus elit. Aenean facilisis placerat faucibus. Praesent commodo at mi nec imperdiet. Etiam at libero nec nunc iaculis ullamcorper.</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			<li><a href="job-page-alt.html">
				<img src="images/job-list-logo-03.png" alt="">
				<div class="job-list-content">
					<h4>Restaurant Team Member - Crew <span class="full-time">Full-Time</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> King</span>
						<span><i class="fa fa-map-marker"></i> Sydney</span>
						<span><i class="fa fa-money"></i> $15 / hour</span>
					</div>
					<p>Duis eu sem erat. Aliquam vestibulum justo at quam facilisis, sit amet condimentum dui laoreet. Nunc feugiat ante quis pulvinar ornare. In tempus lorem ipsum.</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			<li><a href="job-page.html">
				<img src="images/job-list-logo-04.png" alt="">
				<div class="job-list-content">
					<h4>Power Systems User Experience Designer  <span class="internship">Internship</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> Hexagon</span>
						<span><i class="fa fa-map-marker"></i> London</span>
						<span><i class="fa fa-money"></i> $75 / hour</span>
					</div>
					<p>Praesent eu imperdiet quam. Fusce posuere venenatis lorem vel lacinia. Integer orci magna, accumsan nec velit quis, porttitor pulvinar nulla. Nullam viverra risus massa.</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			<li><a href="job-page-alt.html">
				<img src="images/job-list-logo-05.png" alt="">
				<div class="job-list-content">
					<h4>iPhone / Android Music App Development <span class="temporary">Temporary</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> Mates</span>
						<span><i class="fa fa-map-marker"></i> New York</span>
						<span><i class="fa fa-money"></i> $115 / hour</span>
					</div>
					<p>Sodales mollis metus eget egestas. Duis sit amet sem pretium, facilisis libero ut, lobortis arcu. Cras ipsum libero, suscipit ut nisl vitae, commodo pretium mauris.</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>-->
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav>
		</div>

	</div>
	</div>


	<script id="psyco-template" type="text/html">
		<li><a href="job-page.html" >
			<img src="images/job-list-logo-01.png" alt="">
			<div class="job-list-content">
				<h4><%= _fid %>. <%= name %></h4>
				
				<div class="job-icons">
					<span><i class="fa fa-money"></i> <%= precio %> / hour</span>
					<span><i class="fa fa-phone"></i> <%= telefono %></span>
					<span><i class="fa fa-credit-card"></i> <%= payment %></span>
					<span><i class="fa fa-map-o"></i>Terapia <%= therapy %></span>
				</div>
				<!--<p>The SEO/SEM Specialist will work with industry leaders and top retailers to define and deliver best practices through innovative SEO methodologies.</p>-->
			</div>
			</a>
			<div class="clearfix"></div>
		</li>
	</script>
</div>

{% endblock %}
<!-- Footer
================================================== -->
<div class="margin-top-25"></div>

<div id="footer">
	<!-- Main -->
	<div class="container">

		<div class="seven columns">
			<h4>About</h4>
			<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			<a href="#" class="button">Get Started</a>
		</div>

		<div class="three columns">
			<h4>Company</h4>
			<ul class="footer-links">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Our Blog</a></li>
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Hiring Hub</a></li>
			</ul>
		</div>
		
		<div class="three columns">
			<h4>Press</h4>
			<ul class="footer-links">
				<li><a href="#">In the News</a></li>
				<li><a href="#">Press Releases</a></li>
				<li><a href="#">Awards</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Timeline</a></li>
			</ul>
		</div>		

		<div class="three columns">
			<h4>Browse</h4>
			<ul class="footer-links">
				<li><a href="#">Freelancers by Category</a></li>
				<li><a href="#">Freelancers in USA</a></li>
				<li><a href="#">Freelancers in UK</a></li>
				<li><a href="#">Freelancers in Canada</a></li>
				<li><a href="#">Freelancers in Australia</a></li>
				<li><a href="#">Find Jobs</a></li>

			</ul>
		</div>

	</div>

	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2015 by <a href="#">Work Scout</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static "js/filter.js" %}"></script>
<script src="{% static "js/filters.js" %}"></script>


</body>
</html>