{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter %}
        {{ obj.name }} - {{ obj.city }}<br />
    {% endfor %}
{% endblock %}